/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

/* ---------------------fonts-------------------------------- */

/* font-family: 'Gilroy-Medium', sans-serif; */

/* ---------------------------------------------------------- */
._container {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

/* ---------------------------------------------------------- */
.wrapper{
    background-color: #1F1F1F;
}
.wrapper-fon{
    /* background-image: url(./img/fon2.jpg); */
    opacity: .7;
    position: absolute;
    top: 0;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1F1F1F;
    opacity: 1;
}
.header_container{
    position: relative;
}
.header_menu {
    padding: 33px 0;
    border-bottom: 1px solid white;
    
}
.menu_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item_link {
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: white;
}
.item_link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transform: scaleX(1); 
    background: #9d48ec;
}
.item_link:hover::after {
    width: 100%;
    transition: width .5s;
}

.item_link-fixed{
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: #ffffff
}

.item_link:hover {
    background-image: linear-gradient(90deg, #b742c7, #e858ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
}
.header--fixed{
    position: fixed;
    width: 100%;
    color: #ffffff;
	left: 0;
	top: 0;
    z-index: 20;
    padding: 0;
    background-color: rgba(0, 0, 0,.7);
    transition: all .6s ease;
}
.item_link-fixed{
    color: #ffffff;
}
.arrow{
    display: block;
}


.arrow-img{
    position: fixed;
    /* display: none; */
    bottom: 50px;
    right: 30px;
    transform: rotate(90deg);
    transition: all .3s ease;
    width: 30px;
    height: 30px;
    background-color: rgba(130, 130, 130,.6);
    padding: 10px;
    border-radius: 50%;
    opacity: .4;
    box-shadow: 0 0 10px white;
}
.arrow-img:hover{
    box-shadow: 0 0 25px rgb(173, 28, 168);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 10 ;
    opacity: 1;
    background: linear-gradient(90deg, rgba(2,0,36,1) 13%, rgba(60,9,121,1) 51%, rgba(0,161,255,0.5) 100%);
}
.arrow-fixed{
    position: fixed;
    /* display: block; */
    opacity: 1;
    bottom: 50px;
    right: 30px;
    transform: rotate(-90deg);
    transition: all .3s ease;
    width: 50px;
    height: 50px;
    background-color: rgba(130, 130, 130,.6);
    padding: 10px;
    border-radius: 50%;
}

/* .arrow-up{
    position: fixed;
    bottom: 50px;
    right: 30px;
    transform: rotate(-90deg);
    transition: all .3s ease;
    width: 50px;
    height: 50px;
    background-color: rgba(130, 130, 130,.6);
    padding: 10px;
    border-radius: 50%;
} */
/* --------------------------MAIN-PAGE-------------------------------- */
.main-page {
    position: relative;
    color: white;
    margin-top: 89px;
    padding: 0 15px;
}
.main-page_container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.page_title {
    display: block;
    padding: 39px 0 30px 0;
    align-items: center;
}

.main-page_title h1 {
    font-size: 69px;
    line-height: calc(59 / 47 * 100%);
}

.main_text {
    display: block;
    margin-top: 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    width: 205px;
    font-family: 'Gilroy-Medium';
    font-size: 24px;
    line-height: calc(22 / 18 * 100%);
    background-image: linear-gradient(90deg, #751482, #e858ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.years{
    width: 142px;
}
.main-page_translate {
    display: flex;
    font-size: 16px;
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
}

.main-page_translate span {
    margin: 5px 0;
}

.main-page_translate a {
    font-size: 16px;
    line-height: calc(20 / 16 * 100%);
    color: #828282;
}

.main-page_translate a:hover {
    color: #000;
    transition: 0.2s;
}

.main_title {
    /* font-size: 100px; */
    display: block;
    box-shadow: 20px 10px 30px black;
    background-image: linear-gradient(90deg, #751482, #e858ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    width: 100%;
    height: 100%;
}

.main_image {
    max-width: 400px;
    box-shadow: 10px 10px 30px black;
}

/* -------------------------------------------------------------- */
/* ---------------------BURGER-MENU------------------------------ */
/* -------------------------------------------------------------- */
.burger-menu {
    display: none;
}

.link-img {
    margin: 0 40px;
}

.lang-burger {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1px;
    left: 20px;
    border-bottom: 2px solid #ffffff;
}


.close-link {
    color: white;
    font-size: 14px;
    font-family: inherit;
}

.lang-burger span {
    margin: 5px 10px;
    color: white;
}

.lang-burger a {
    font-size: 14px;
    line-height: calc(20 / 16 * 100%);
    color: #ffffff;
}

.lang-burger a:hover {
    color: #000;
    transition: 0.2s;
}

.menu-btn {
    display: flex;
    /* align-items: center; */
    position: absolute;
    top: 20px;
    right: 15px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}


.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(142, 142, 142);
    transition-duration: .25s;
}

.menu-btn>span::before {
    content: '';
    top: -8px;
}

.menu-btn>span::after {
    content: '';
    top: 8px;
}

.menubox {
    display: block;
    text-align: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 110px 0;
    list-style: none;
    background: rgba(34, 34, 34, 0.8);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .7s;
    z-index: 2;
}

.menu-item {
    display: inline-block;
    margin-top: 5px;
    padding: 12px 24px;
    font-size: 24px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    transition-duration: 0.25s;
}

.menu-item:hover {
    border-bottom: 1px solid #d7d7d7;
    transition: .3s;
}

.menu-item:hover {
    background: #1F1F1F;
}

#menu-toggle {
    opacity: 0;
}

#menu-toggle:focus~.menu-btn>span {
    transform: rotate(45deg);
}

#menu-toggle:focus~.menu-btn>span::before {
    transform: rotate(0);
    top: 0;
}

#menu-toggle:focus~.menu-btn>span::after {
    transform: rotate(90deg);
    top: 0;
}

#menu-toggle:focus~.menubox {
    visibility: visible;
    right: 0;
}

.burger--fixed{
    position: fixed;
    width: 100%;
    height: 40px;
	left: 0;
	top: 0;
    z-index: 20;
    padding: 0;
    background-color: rgba(0, 0, 0,.7);
    transition: all .6s ease;
}
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* --------------------------MAIN-INFO-------------------------------- */
.main_info {
    color: #070707;
    text-align: center;
    background: #F6F6F6;
    margin-top: 104px;
    padding: 120px 0 107px 0;
}

.main-info-container {
    display: block;
}

.info-title p {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    margin: 52px 0 0 0;
}

.info-title h2 {
    font-size: 34px;
    line-height: calc(42 / 34 * 100%);
}

/* --------------------------MAIN-SKILL-------------------------------- */
.main-skill {
    color: white;
}

.main-skill-container {
    padding: 91px 0 110px 0;
}

.main-skill-title h2 {
    font-size: 34px;
    line-height: calc(42 / 34 * 100%);
    text-align: center;
    margin-bottom: 69px;
}

.main-skill-title p {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    text-align: center;
}

.main-skill-list {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-skill-item {
    padding-top: 13px;
    text-align: center;
    align-items: center;
}

.main-skill-item p {
    line-height: calc(17 / 14 * 100%);
    height: 27px;
    color: white;
}

.item_icon {
    width: 89px;
    height: 89px;
    margin-bottom: 23px;
}

.item_img_star {
    margin-top: 41px;
    height: 26px;
    width: 166px;
}

/* --------------------------SECTION-PORTFOLIO-------------------------------- */
.section-portfolio {
    background: #F6F6F6;
}

.section-portfolio-container {
    color: #070707;
    padding: 112px 0 96px 0;
}

.portfolio-title {
    font-size: 34px;
    line-height: calc(42 / 34 * 100%);
    text-align: center;
}

.portfolio-exemple_one {
    margin: 47px 0 44px 0;
}

.exemple-link {
    text-align: center;
}

.exemple-link a:hover {
    color: #828282;
    transition: .2s;
}

.exemple-link a {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #070707;
}

.portfolio-exemple_two {
    margin: 99px 0 44px 0;
}

/* --------------------------SECTION-CONTACT-------------------------------- */
.section-contact {
    position: relative;
    color: white;
    padding: 114px 0 85px 0;
}
.send-message{
    /* position: fixed; */
    /* z-index: 5000; */
    /* background-color: rgb(0, 0, 0); */
    /* width: 100%; */
    /* height: 100vh; */
}
.section-contact-container h2 {
    font-size: 34px;
    line-height: calc(42 / 34 * 100%);
    text-align: center;
    margin-bottom: 20px;
}

.section-contact-container p {
    display: inline;
    width: 275px;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    text-align: center;
}

/* .section-contact-container button {
    padding: 13px 29px;
    font-size: 18px;
    line-height: 22px;
    background: #070707;
    color: #FFFFFF;
    border-radius: 25px;
    margin-top: 29px;
} */
.button_one{
    padding: 13px 29px;
    font-size: 18px;
    line-height: 22px;
    background: #070707;
    color: #FFFFFF;
    border-radius: 25px;
    margin-top: 29px;
}
.section-contact-container button:hover {
    /* background: #828282; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 13%, rgba(60,9,121,1) 51%, rgba(0,161,255,0.7917542016806722) 100%);
    box-shadow: 0 0 25px rgb(173, 28, 168);
    transition: .3s;
    /* color: #000; */
}

.contact-item {
    text-align: center;
}
.pop_up{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0,.7);
    z-index: 10;
}
.pop_up.active{
    display: block;
}
.pop_up_close{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(2,0,36,1) 13%, rgba(60,9,121,1) 51%, rgba(0,161,255,0.7917542016806722) 100%);
    /* border: 1px solid #ffffff; */
    /* padding: 5px; */
    border-radius: 100px;
    cursor: pointer;
}
.pop_up_close:hover{
    box-shadow: 0 0 15px rgb(173, 28, 168);
    transition: .3s;
}
.pop_up_container{
    display: flex;
    padding: 0 10px 0 10px;
    width: 100%;
    height: 100%;
}
.pop_up_body{
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
}
.pop_up_body p{
    font-family: inherit;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
}
.form-title-wrap{
    display: block;
    text-align: center;    
}
.form-title{
    display: block;
    text-align: center;
}
.form-wrapper{
    width: 400px;
    display: flex;
    flex-direction: column;
}
.form-wrapper{
    background-color: rgb(35, 35, 35);
    padding: 5px;
    border-radius: 10px;
}
.form-wrapper input{
    background: none;
    padding: 5px;
    height: 50px;
    color: #ffffff;
    border-bottom: 1px solid rgb(92, 92, 92);
}
.input-name{
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
}
.form-wrapper input:not(:last-child){
    /* margin-bottom: 5px; */
}
.form-wrapper textarea{
    background: none;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    resize:none;
    color: #ffffff;
}
._button-mess{
    padding: 13px 29px;
    font-size: 18px;
    line-height: 22px;
    background: rgb(35, 35, 35);
    color: #FFFFFF;
    border-radius: 25px;
    margin-top: 29px;
}
/* --------------------------FOOTER-------------------------------- */
.section-footer {
    padding-bottom: 123px;
}

.footer-social {
    display: flex;
    justify-content: center;
    margin: 0 15px;
}

.footer-link:not(:first-child) {
    margin-left: 61px;
}

.footer-icon {
    width: 40px;
    height: 40px;
}

.footer-icon:hover {
    opacity: .5;
    transition: .2s;
}

.footer-text {
    margin-top: 45px;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.header_burger {
    display: none;
}

/* ---------------------------------------------------- */
@media (max-width:860px) {
    .main-page_title h1 {
        font-size: 50px;
    }
}
@media (max-width:768px) {
    .main-page_title h1 {
        font-size: 60px;
    }
    .arrow-link{
        display: none;
    }
    .header_menu {
        display: none;
    }
    .main-page{
        margin-top: 0;
    }
    .main-page_container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .page_title {
        display: block;
        align-items: center;
    }

    .main-page_title {
        /* display: flex; */
        justify-content: space-between;
        align-items: center;
    }

    .main_text {
        /* margin-top: 15px; */
    }

    .burger-menu {
        display: block;
    }

    .main-page_translate {
        display: none;
    }
    .arrow {
        display: none;
    }
}

@media(max-width:693px) {
    .main-skill-item {
        flex-wrap: wrap;
    }
}

@media (max-width:400px) {
    .main_title{
        
    }
    .main_info {
        padding-top: 80px;
    }

    .main-skill-container {
        padding-top: 50px;
    }

    .section-portfolio-container {
        padding-top: 60px;
    }

    .section-contact {
        padding-top: 60px;
    }

    .portfolio-exemple_two {
        margin-top: 50px;
    }

    .section-footer {
        padding-bottom: 60px;
    }

}

@media (max-width:375px) {
    .footer-link {}

    .footer-link:not(:first-child) {
        margin-left: 50px;
    }
}

@media (max-width:361px) {
    .main-skill-list {
        display: block;
    }
}

@media (max-width:348px) {
    .header-avatar {
        /* display: none; */
    }

    .main_image {
        /* background: url(./img/avatar.jpg)no-repeat; */
        background-size: cover;
        height: 387px;
        max-width: 100%;
    }

    .footer-link:not(:first-child) {
        margin-left: 40px;
    }
}

@media (max-width:300px) {
    .footer-link:not(:first-child) {
        margin-left: 30px;
    }
}








::-webkit-input-placeholder{
    color:#b9b9b9;
    font-size: 16px;
}

::-moz-placeholder{
    color:#898989;
    font-size: 16px;
}/* Firefox 19+ */
:-moz-placeholder{
    color:#898989;
    font-size: 16px;
}/* Firefox 18- */
:-ms-input-placeholder{
    color:#898989;
    font-size: 16px;
}
:focus::-webkit-input-placeholder {
    color: transparent;
    transition: .2s;
}
:focus::-moz-placeholder{
    color: transparent;
    transition: .2s;
}
:focus:-moz-placeholder{
    color: transparent;
    transition: .2s;
}
:focus:-ms-input-placeholder{
    color: transparent;
    transition: .2s;
}